# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
Thumbs.db
.metadata

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# AI related
/AI/.venv
/AI/Image/*.jpg
/AI/Upscaled_Results/*.jpg
/AI/Suspicious_Identifier/__pycache__/
/AI/gfpgan
/AI/Suspicious_Identifier/gfpgan
/AI/Real-ESRGAN

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignore build/cache folders used by Vite/JS
/node_modules
/.vite/
/.vite/deps

# Laravel Files
/Laravel/*.log
/Laravel/.git
/Laravel/.env
/Laravel/.env.backup
/Laravel/.env.production
/Laravel/auth.json
/Laravel/vendor/
/Laravel/node_modules/
/Laravel/public/build
/Laravel/public/hot
/Laravel/public/storage
/Laravel/storage/*.key
/Laravel/storage/pail
/Laravel/Homestead.json
/Laravel/Homestead.yaml

# -----------------------
# Core Flutter/Dart (Targeting "Flutter" folder)
# -----------------------
/Flutter/.dart_tool/
/Flutter/.flutter-plugins
/Flutter/.flutter-plugins-dependencies
/Flutter/.pub-cache/
/Flutter/.pub/
/Flutter/build/

# Documentation
/Flutter/doc/api/

# -----------------------
# Application Config & Secrets
# -----------------------
# Protect your keys and environment variables
/Flutter/assets/.env
/Flutter/android/key.properties
/Flutter/android/local.properties

# -----------------------
# Android Specifics
# -----------------------
/Flutter/android/app/debug
/Flutter/android/app/profile
/Flutter/android/app/release
/Flutter/android/.gradle/

# -----------------------
# iOS Specifics
# -----------------------
/Flutter/ios/Flutter/.last_build_id
/Flutter/ios/.symlinks
/Flutter/ios/Flutter/Generated.xcconfig
/Flutter/ios/Flutter/flutter_export_environment.sh
/Flutter/ios/Pods/
/Flutter/ios/Runner/GeneratedPluginRegistrant.*
/Flutter/ios/Runner/*.xcworkspace/contents.xcworkspacedata

# Obfuscation & Symbolication
/Flutter/app.*.symbols
/Flutter/app.*.map.json
/Flutter/web/
/Flutter/macos/
/Flutter/linux/
/Flutter/windows/